In [2]:
import numpy as np
import pandas as pd

a = np.array([1,2,3,4])
s = pd.Series([1,2,3,4])

In [3]:
s.describe()

count    4.000000
mean     2.500000
std      1.290994
min      1.000000
25%      1.750000
50%      2.500000
75%      3.250000
max      4.000000
dtype: float64

In [6]:
# contries = np.array(['Albania','Algerua','Andorra','Angola'])
# life_expectancy = np.array([74.7,75.,83.4,57.6])



life_expectancy = pd.Series([74.7,75.,83.4,57.6],index=['Albania','Algerua','Andorra','Angola'])

In [8]:
life_expectancy

Albania    74.7
Algerua    75.0
Andorra    83.4
Angola     57.6
dtype: float64

In [9]:
# NumPy arrays are like souped-up Python lists
# A pandas series is like a cross between a list and a dictionary

In [11]:
life_expectancy[3]

57.600000000000001

In [12]:
life_expectancy.loc['Angola']

57.600000000000001

In [13]:
# Creating pasdas without index
pd.Series([74.7,75.,83.4,57.6])

0    74.7
1    75.0
2    83.4
3    57.6
dtype: float64

In [14]:
life_expectancy.iloc[3]
# the same as life_expectancy[3] , but clearly

57.600000000000001

In [15]:
countries = np.array(['Albania','Algerua','Andorra','Angola'])

In [16]:
countries[0]

'Albania'

In [17]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
]

employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
]

# Employment data in 2007 for 20 countries
employment = pd.Series(employment_values, index=countries)

In [20]:
print employment.argmax()
print employment.loc[employment.argmax()]

Angola
75.69999695

In [21]:
def max_employment(employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    
    The input will be a Pandas series where the values
    are employment and the index is country names.
    
    Try using the Pandas argmax() function. Documention is
    here: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.argmax.html
    '''
    max_country = employment.argmax()
    max_value = employment.loc[max_country]

    return (max_country, max_value)

In [22]:
# Addition when indexes are the same
if True:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
    print s1 + s2

a    11
b    22
c    33
d    44
dtype: int64

In [24]:
# Indexes have same elements in a different order
if True:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['b', 'd', 'a', 'c'])
    print s1 + s2

a    31
b    12
c    43
d    24
dtype: int64

In [26]:

# Indexes do not overlap
if True:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['e', 'f', 'g', 'h'])
    print s1 + s2

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
dtype: float64

In [27]:
# Indexes overlap, but do not have exactly the same elements
if True:
    s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    s2 = pd.Series([10, 20, 30, 40], index=['c', 'd', 'e', 'f'])
    print s1 + s2
    Anp = s1 + s2

a     NaN
b     NaN
c    13.0
d    24.0
e     NaN
f     NaN
dtype: float64

In [28]:
#removing missing values
Anp.dropna()

c    13.0
d    24.0
dtype: float64

In [30]:
## alternative solution to remove missing values 
## Treat misssing values as 0 before the addcition

s1.add(s2,fill_value=0)

a     1.0
b     2.0
c    13.0
d    24.0
e    30.0
f    40.0
dtype: float64

In [36]:
## A little example to clean the data
states = pd.Series(['California','OH','Michigan','NY'])

## Now i want 'CA','OH','MI','NY'

def clean_state(state):
    if len(state) == 2:
        return state
    elif state == 'California':
        return 'CA'
    elif state == 'Michigan':
        return 'MI'

In [46]:
## create a empty list and loop over the series
clean_states = []
for state in states:
    clean_states.append(clean_state(state))
                        
clean_states = pd.Series(clean_states)

In [47]:
clean_states

0    CA
1    OH
2    MI
3    NY
dtype: object

In [50]:
clean_states = states.apply(clean_state)

In [51]:
clean_states

0    CA
1    OH
2    MI
3    NY
dtype: object

In [58]:
# Change False to True to see what the following block of code does
names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])




def reverse_names(names):
    '''
    Fill in this function to return a new series where each name
    in the input series has been transformed from the format
    "Firstname Lastname" to "Lastname, FirstName".
    
    Try to use the Pandas apply() function rather than a loop.
    '''
    def splitLocal(name):
        splitedName = name.split(' ')
        return splitedName[1] + ',' + splitedName[0]

    return names.apply(splitLocal)

In [59]:
reverse_names(names)

0             Agassi,Andre
1              Bonds,Barry
2     Columbus,Christopher
3             Defoe,Daniel
4           Estevez,Emilio
5          Flintstone,Fred
6              Garbo,Greta
7          Humbert,Humbert
8               Ilych,Ivan
9              Joyce,James
10         Knightley,Keira
11               Lane,Lois
12              Myers,Mike
13              Nolte,Nick
14           Osbourne,Ozzy
15           Picasso,Pablo
16       Quirrell,Quirinus
17             Ray,Rachael
18          Sarandon,Susan
19             Turner,Tina
20           Urbina,Ugueth
21            Vaughn,Vince
22          Wilson,Woodrow
23             Yamada,Yoji
24         Zidane,Zinedine
dtype: object