In [2]:
import numpy as np
import pandas as pd

a = np.array([1,2,3,4])
s = pd.Series([1,2,3,4])

In [3]:
s.describe()

count    4.000000
mean     2.500000
std      1.290994
min      1.000000
25%      1.750000
50%      2.500000
75%      3.250000
max      4.000000
dtype: float64

In [6]:
# contries = np.array(['Albania','Algerua','Andorra','Angola'])
# life_expectancy = np.array([74.7,75.,83.4,57.6])



life_expectancy = pd.Series([74.7,75.,83.4,57.6],index=['Albania','Algerua','Andorra','Angola'])

In [8]:
life_expectancy

Albania    74.7
Algerua    75.0
Andorra    83.4
Angola     57.6
dtype: float64

In [9]:
# NumPy arrays are like souped-up Python lists
# A pandas series is like a cross between a list and a dictionary

In [11]:
life_expectancy[3]

57.600000000000001

In [12]:
life_expectancy.loc['Angola']

57.600000000000001

In [13]:
# Creating pasdas without index
pd.Series([74.7,75.,83.4,57.6])

0    74.7
1    75.0
2    83.4
3    57.6
dtype: float64

In [14]:
life_expectancy.iloc[3]
# the same as life_expectancy[3] , but clearly

57.600000000000001

In [15]:
countries = np.array(['Albania','Algerua','Andorra','Angola'])

In [16]:
countries[0]

'Albania'

In [17]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
]

employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
]

# Employment data in 2007 for 20 countries
employment = pd.Series(employment_values, index=countries)

In [20]:
print employment.argmax()
print employment.loc[employment.argmax()]

Angola
75.69999695

In [21]:
def max_employment(employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    
    The input will be a Pandas series where the values
    are employment and the index is country names.
    
    Try using the Pandas argmax() function. Documention is
    here: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.argmax.html
    '''
    max_country = employment.argmax()
    max_value = employment.loc[max_country]

    return (max_country, max_value)